.loginLabel {
    margin: 5px;
    display: inline-block;
    width: 12ch;
}

.loginInput {
    width: 30%;
}

#btnLogin {
    margin-top: 15px;
}

.btnTopBar {
    float: right;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    color: floralwhite;
    background-color: #808080;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 10px;
}

.fileNode {
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    color: black;
    background-color: lightskyblue;
    padding: 5px 10px 5px 0.5em;
    border: none;
    border-radius: 8px;

}