.loginContainer {
    text-align: center;
    margin-top: 15%;
}

.loginInnerContainer {
    display: inline-block;
}

.loginLabel {
    font-size: 20px;
    margin: 5px;
    display: inline-block;
    width: 12ch;
}

.loginInput {
    font-size: 18px;
    margin: 5px;
    width: 20%;
}

.btnLogin {
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    color: floralwhite;
    background-color: #808080;
    padding: 10px 20px 10px 20px;
    margin: 8px;
    border: none;
    border-radius: 10px;
}

.topBar {
    overflow: auto;
}

.btnTopBar {
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    color: floralwhite;
    background-color: #808080;
    padding: 10px 20px 10px 20px;
    margin: 8px;
    border: none;
    border-radius: 10px;
}

#btnLogout {
    float: right;
}

.fileNodeContainer {
    margin-top: 0.5em;
    margin-left: 2em;
}

.fileNode {
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    color: black;
    background-color: lightskyblue;
    padding: 5px 10px 5px 5px;
    border: transparent 1px;
    border-radius: 8px;
}

.fileNode.selected {
    border: black solid 1px;
}

.formDownload {
    display: inline;
}

:focus {
    outline: none !important;
}

.fa {
    padding-right: 10px
}

.fa-folder {
    color: #4c4b4b;
}

.fa-file {
    color: #00000080;
}