<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/templates/css/IndexPage.css">
    <link rel="stylesheet" type="text/css" href="/templates/css/all.css">
    <script crossorigin src="/templates/jsx/react.development.js"></script>
    <script crossorigin src="/templates/jsx/react-dom.development.js"></script>
    <script crossorigin src="/templates/jsx/jquery.min.js"></script>
    <script crossorigin src="/templates/jsx/axios.min.js"></script>
    <script crossorigin src="/templates/jsx/axios.min.map"></script>
    <script>
        (function() {
            var script = document.createElement('script');
            script.type = "text/javascript";
            script.src = "/templates/jsx/IndexPage.js";
            document.head.append(script);
        })();
    </script>
</head>
<body>
<div id="root">

</div>
</body>
</html>